In [5]:
import pandas as pd

In [29]:
df= pd.read_csv('/home/mahesh/Desktop/delhi_weather.csv')

In [30]:
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/1/2016,38.0,23.0,52.0,30.03,10.0,8.0,0,5.0,NaN,281.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1/2/2016,36.0,18.0,46.0,30.02,10.0,7.0,0,3.0,NaN,275.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1/3/2016,40.0,21.0,47.0,29.86,10.0,8.0,0,1.0,NaN,277.0
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1/4/2016,25.0,9.0,44.0,30.05,10.0,9.0,0,3.0,NaN,345.0
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1/5/2016,20.0,-3.0,41.0,30.57,10.0,5.0,0,0.0,NaN,333.0
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1/6/2016,33.0,4.0,35.0,30.50,10.0,4.0,0,0.0,NaN,259.0
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1/7/2016,39.0,11.0,33.0,30.28,10.0,2.0,0,3.0,NaN,293.0
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,1/8/2016,39.0,29.0,64.0,30.20,10.0,4.0,0,8.0,NaN,79.0
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1/9/2016,44.0,38.0,77.0,30.16,9.0,8.0,T,8.0,Rain,76.0
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1/10/2016,50.0,46.0,71.0,29.59,4.0,NaN,1.8,7.0,Rain,109.0
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1/11/2016,33.0,8.0,37.0,29.92,10.0,NaN,0,1.0,NaN,289.0
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1/12/2016,35.0,15.0,53.0,29.85,10.0,6.0,T,4.0,NaN,235.0
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,1/13/2016,26.0,4.0,42.0,29.94,10.0,10.0,0,0.0,NaN,284.0
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,1/14/2016,30.0,12.0,47.0,29.95,10.0,5.0,T,7.0,NaN,266.0
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,1/15/2016,43.0,31.0,62.0,29.82,9.0,5.0,T,2.0,NaN,101.0
...,...,...,...,...,...,...,...,...,...,...,...
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,1/17/2016,36.0,23.0,66.0,29.78,8.0,6.0,0.05,6.0,Fog-Snow,345.0
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,1/18/2016,25.0,6.0,53.0,29.83,9.0,12.0,T,2.0,Snow,293.0
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,1/19/2016,22.0,3.0,42.0,30.03,10.0,11.0,0,1.0,NaN,293.0
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,1/20/2016,32.0,15.0,49.0,30.13,10.0,6.0,0,2.0,NaN,302.0
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,1/21/2016,31.0,11.0,45.0,30.15,10.0,6.0,0,1.0,NaN,312.0
42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,1/22/2016,26.0,6.0,41.0,30.21,9.0,NaN,0.01,3.0,Snow,34.0
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,1/23/2016,26.0,21.0,78.0,29.77,1.0,16.0,2.31,8.0,Fog-Snow,42.0
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,1/24/2016,28.0,11.0,53.0,29.92,8.0,6.0,T,3.0,Snow,327.0
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,1/25/2016,34.0,18.0,54.0,30.25,10.0,3.0,0,2.0,NaN,286.0
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,1/26/2016,43.0,29.0,56.0,30.03,10.0,7.0,0,2.0,NaN,244.0
52,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,1/27/2016,41.0,22.0,45.0,30.03,10.0,7.0,T,3.0,Rain,311.0
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,1/28/2016,37.0,20.0,51.0,29.90,10.0,5.0,0,1.0,NaN,234.0
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,1/29/2016,36.0,21.0,50.0,29.58,10.0,8.0,0,4.0,NaN,298.0
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,1/30/2016,34.0,16.0,46.0,30.01,10.0,7.0,0,0.0,NaN,257.0
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,1/31/2016,46.0,28.0,52.0,29.90,10.0,5.0,0,0.0,NaN,241.0

In [31]:
df['Temperature'].max()

50.0

In [32]:
df['EST'][df['Events']=='Rain']

17     1/9/2016
19    1/10/2016
31    1/16/2016
53    1/27/2016
Name: EST, dtype: object

In [33]:
df.fillna(0,inplace=True)
df['WindSpeedMPH'].mean()

3.1129032258064515

In [44]:
df.dtypes

EST                      object
Temperature             float64
DewPoint                float64
Humidity                float64
Sea Level PressureIn    float64
VisibilityMiles         float64
WindSpeedMPH            float64
PrecipitationIn          object
CloudCover              float64
Events                   object
WindDirDegrees          float64
dtype: object

In [45]:
df.index

RangeIndex(start=0, stop=62, step=1)

In [46]:
df.columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [47]:
df.values

array([[0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/1/2016', 38.0, 23.0, 52.0, 30.03, 10.0, 8.0, '0', 5.0, 0,
        281.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/2/2016', 36.0, 18.0, 46.0, 30.02, 10.0, 7.0, '0', 3.0, 0,
        275.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/3/2016', 40.0, 21.0, 47.0, 29.86, 10.0, 8.0, '0', 1.0, 0,
        277.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/4/2016', 25.0, 9.0, 44.0, 30.05, 10.0, 9.0, '0', 3.0, 0,
        345.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/5/2016', 20.0, -3.0, 41.0, 30.57, 10.0, 5.0, '0', 0.0, 0,
        333.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/6/2016', 33.0, 4.0, 35.0, 30.5, 10.0, 4.0, '0', 0.0, 0, 259.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/7/2016', 39.0, 11.0, 33.0, 30.28, 10.0, 2.0, '0', 3.0, 0,
        293.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/8/2016', 39.0, 29.0, 64.0, 30.2, 10.0, 4.0, '0', 8.0, 0, 79.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/9/2016', 44.0, 38.0, 77.0, 30.16, 9.0, 8.0, 'T', 8.0, 'Rain',
        76.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/10/2016', 50.0, 46.0, 71.0, 29.59, 4.0, 0.0, '1.8', 7.0,
        'Rain', 109.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/11/2016', 33.0, 8.0, 37.0, 29.92, 10.0, 0.0, '0', 1.0, 0,
        289.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/12/2016', 35.0, 15.0, 53.0, 29.85, 10.0, 6.0, 'T', 4.0, 0,
        235.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/13/2016', 26.0, 4.0, 42.0, 29.94, 10.0, 10.0, '0', 0.0, 0,
        284.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/14/2016', 30.0, 12.0, 47.0, 29.95, 10.0, 5.0, 'T', 7.0, 0,
        266.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/15/2016', 43.0, 31.0, 62.0, 29.82, 9.0, 5.0, 'T', 2.0, 0,
        101.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/16/2016', 47.0, 37.0, 70.0, 29.52, 8.0, 7.0, '0.24', 7.0,
        'Rain', 340.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/17/2016', 36.0, 23.0, 66.0, 29.78, 8.0, 6.0, '0.05', 6.0,
        'Fog-Snow', 345.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/18/2016', 25.0, 6.0, 53.0, 29.83, 9.0, 12.0, 'T', 2.0, 'Snow',
        293.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/19/2016', 22.0, 3.0, 42.0, 30.03, 10.0, 11.0, '0', 1.0, 0,
        293.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/20/2016', 32.0, 15.0, 49.0, 30.13, 10.0, 6.0, '0', 2.0, 0,
        302.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/21/2016', 31.0, 11.0, 45.0, 30.15, 10.0, 6.0, '0', 1.0, 0,
        312.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/22/2016', 26.0, 6.0, 41.0, 30.21, 9.0, 0.0, '0.01', 3.0,
        'Snow', 34.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/23/2016', 26.0, 21.0, 78.0, 29.77, 1.0, 16.0, '2.31', 8.0,
        'Fog-Snow', 42.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/24/2016', 28.0, 11.0, 53.0, 29.92, 8.0, 6.0, 'T', 3.0, 'Snow',
        327.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/25/2016', 34.0, 18.0, 54.0, 30.25, 10.0, 3.0, '0', 2.0, 0,
        286.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/26/2016', 43.0, 29.0, 56.0, 30.03, 10.0, 7.0, '0', 2.0, 0,
        244.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/27/2016', 41.0, 22.0, 45.0, 30.03, 10.0, 7.0, 'T', 3.0,
        'Rain', 311.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/28/2016', 37.0, 20.0, 51.0, 29.9, 10.0, 5.0, '0', 1.0, 0,
        234.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/29/2016', 36.0, 21.0, 50.0, 29.58, 10.0, 8.0, '0', 4.0, 0,
        298.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/30/2016', 34.0, 16.0, 46.0, 30.01, 10.0, 7.0, '0', 0.0, 0,
        257.0],
       [0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0, 0.0, 0, 0.0],
       ['1/31/2016', 46.0, 28.0, 52.0, 29.9, 10.0, 5.0, '0', 0.0, 0,
        241.0]], dtype=object)

In [34]:
df.describe() 
#statistical summary of the given csv file

,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,CloudCover,WindDirDegrees
count,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000
mean,17.338710,8.919355,25.838710,14.996452,4.596774,3.112903,1.564516,123.564516
std,18.282791,12.022245,27.297507,15.119789,4.829756,3.950949,2.426770,140.388877
min,0.000000,-3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,10.000000,0.000000,16.500000,14.760000,0.500000,0.000000,0.000000,17.000000
75%,34.750000,17.500000,49.750000,29.995000,10.000000,6.000000,2.750000,280.000000
max,50.000000,46.000000,78.000000,30.570000,10.000000,16.000000,8.000000,345.000000

In [35]:
df.sort_values('Temperature',ascending=False)
# Sorting of the data frame

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
19,1/10/2016,50.0,46.0,71.0,29.59,4.0,0.0,1.8,7.0,Rain,109.0
31,1/16/2016,47.0,37.0,70.0,29.52,8.0,7.0,0.24,7.0,Rain,340.0
61,1/31/2016,46.0,28.0,52.0,29.90,10.0,5.0,0,0.0,0,241.0
17,1/9/2016,44.0,38.0,77.0,30.16,9.0,8.0,T,8.0,Rain,76.0
51,1/26/2016,43.0,29.0,56.0,30.03,10.0,7.0,0,2.0,0,244.0
29,1/15/2016,43.0,31.0,62.0,29.82,9.0,5.0,T,2.0,0,101.0
53,1/27/2016,41.0,22.0,45.0,30.03,10.0,7.0,T,3.0,Rain,311.0
5,1/3/2016,40.0,21.0,47.0,29.86,10.0,8.0,0,1.0,0,277.0
13,1/7/2016,39.0,11.0,33.0,30.28,10.0,2.0,0,3.0,0,293.0
15,1/8/2016,39.0,29.0,64.0,30.20,10.0,4.0,0,8.0,0,79.0
1,1/1/2016,38.0,23.0,52.0,30.03,10.0,8.0,0,5.0,0,281.0
55,1/28/2016,37.0,20.0,51.0,29.90,10.0,5.0,0,1.0,0,234.0
33,1/17/2016,36.0,23.0,66.0,29.78,8.0,6.0,0.05,6.0,Fog-Snow,345.0
3,1/2/2016,36.0,18.0,46.0,30.02,10.0,7.0,0,3.0,0,275.0
57,1/29/2016,36.0,21.0,50.0,29.58,10.0,8.0,0,4.0,0,298.0
23,1/12/2016,35.0,15.0,53.0,29.85,10.0,6.0,T,4.0,0,235.0
59,1/30/2016,34.0,16.0,46.0,30.01,10.0,7.0,0,0.0,0,257.0
49,1/25/2016,34.0,18.0,54.0,30.25,10.0,3.0,0,2.0,0,286.0
11,1/6/2016,33.0,4.0,35.0,30.50,10.0,4.0,0,0.0,0,259.0
21,1/11/2016,33.0,8.0,37.0,29.92,10.0,0.0,0,1.0,0,289.0
39,1/20/2016,32.0,15.0,49.0,30.13,10.0,6.0,0,2.0,0,302.0
41,1/21/2016,31.0,11.0,45.0,30.15,10.0,6.0,0,1.0,0,312.0
27,1/14/2016,30.0,12.0,47.0,29.95,10.0,5.0,T,7.0,0,266.0
47,1/24/2016,28.0,11.0,53.0,29.92,8.0,6.0,T,3.0,Snow,327.0
25,1/13/2016,26.0,4.0,42.0,29.94,10.0,10.0,0,0.0,0,284.0
43,1/22/2016,26.0,6.0,41.0,30.21,9.0,0.0,0.01,3.0,Snow,34.0
45,1/23/2016,26.0,21.0,78.0,29.77,1.0,16.0,2.31,8.0,Fog-Snow,42.0
35,1/18/2016,25.0,6.0,53.0,29.83,9.0,12.0,T,2.0,Snow,293.0
7,1/4/2016,25.0,9.0,44.0,30.05,10.0,9.0,0,3.0,0,345.0
37,1/19/2016,22.0,3.0,42.0,30.03,10.0,11.0,0,1.0,0,293.0
...,...,...,...,...,...,...,...,...,...,...,...
44,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
56,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
46,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
48,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
50,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
52,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
54,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
58,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
42,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
32,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
40,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
38,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
6,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
8,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
10,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
12,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
14,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
16,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
18,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
2,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
20,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
22,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
24,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
26,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
28,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
30,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
4,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
34,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
36,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
0,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0

In [36]:
#Diffrent Slicing Techniques
df.CloudCover

0     0.0
1     5.0
2     0.0
3     3.0
4     0.0
5     1.0
6     0.0
7     3.0
8     0.0
9     0.0
10    0.0
11    0.0
12    0.0
13    3.0
14    0.0
15    8.0
16    0.0
17    8.0
18    0.0
19    7.0
20    0.0
21    1.0
22    0.0
23    4.0
24    0.0
25    0.0
26    0.0
27    7.0
28    0.0
29    2.0
     ...
32    0.0
33    6.0
34    0.0
35    2.0
36    0.0
37    1.0
38    0.0
39    2.0
40    0.0
41    1.0
42    0.0
43    3.0
44    0.0
45    8.0
46    0.0
47    3.0
48    0.0
49    2.0
50    0.0
51    2.0
52    0.0
53    3.0
54    0.0
55    1.0
56    0.0
57    4.0
58    0.0
59    0.0
60    0.0
61    0.0
Name: CloudCover, Length: 62, dtype: float64

In [37]:
df[2:4]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
2,0,0.0,0.0,0.0,0.00,0.0,0.0,0,0.0,0,0.0
3,1/2/2016,36.0,18.0,46.0,30.02,10.0,7.0,0,3.0,0,275.0

In [38]:
df.loc[:,['DewPoint','WindSpeedMPH']]

    DewPoint  WindSpeedMPH
0        0.0           0.0
1       23.0           8.0
2        0.0           0.0
3       18.0           7.0
4        0.0           0.0
5       21.0           8.0
6        0.0           0.0
7        9.0           9.0
8        0.0           0.0
9       -3.0           5.0
10       0.0           0.0
11       4.0           4.0
12       0.0           0.0
13      11.0           2.0
14       0.0           0.0
15      29.0           4.0
16       0.0           0.0
17      38.0           8.0
18       0.0           0.0
19      46.0           0.0
20       0.0           0.0
21       8.0           0.0
22       0.0           0.0
23      15.0           6.0
24       0.0           0.0
25       4.0          10.0
26       0.0           0.0
27      12.0           5.0
28       0.0           0.0
29      31.0           5.0
..       ...           ...
32       0.0           0.0
33      23.0           6.0
34       0.0           0.0
35       6.0          12.0
36       0.0           0.0
37       3.0          11.0
38       0.0           0.0
39      15.0           6.0
40       0.0           0.0
41      11.0           6.0
42       0.0           0.0
43       6.0           0.0
44       0.0           0.0
45      21.0          16.0
46       0.0           0.0
47      11.0           6.0
48       0.0           0.0
49      18.0           3.0
50       0.0           0.0
51      29.0           7.0
52       0.0           0.0
53      22.0           7.0
54       0.0           0.0
55      20.0           5.0
56       0.0           0.0
57      21.0           8.0
58       0.0           0.0
59      16.0           7.0
60       0.0           0.0
61      28.0           5.0

[62 rows x 2 columns]

In [39]:
df.iloc[3:5,[4,5]]

   Sea Level PressureIn  VisibilityMiles
3                 30.02             10.0
4                  0.00              0.0

In [ ]:
#Flitering

In [40]:
df[df.Humidity >50]

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
1,1/1/2016,38.0,23.0,52.0,30.03,10.0,8.0,0,5.0,0,281.0
15,1/8/2016,39.0,29.0,64.0,30.20,10.0,4.0,0,8.0,0,79.0
17,1/9/2016,44.0,38.0,77.0,30.16,9.0,8.0,T,8.0,Rain,76.0
19,1/10/2016,50.0,46.0,71.0,29.59,4.0,0.0,1.8,7.0,Rain,109.0
23,1/12/2016,35.0,15.0,53.0,29.85,10.0,6.0,T,4.0,0,235.0
29,1/15/2016,43.0,31.0,62.0,29.82,9.0,5.0,T,2.0,0,101.0
31,1/16/2016,47.0,37.0,70.0,29.52,8.0,7.0,0.24,7.0,Rain,340.0
33,1/17/2016,36.0,23.0,66.0,29.78,8.0,6.0,0.05,6.0,Fog-Snow,345.0
35,1/18/2016,25.0,6.0,53.0,29.83,9.0,12.0,T,2.0,Snow,293.0
45,1/23/2016,26.0,21.0,78.0,29.77,1.0,16.0,2.31,8.0,Fog-Snow,42.0
47,1/24/2016,28.0,11.0,53.0,29.92,8.0,6.0,T,3.0,Snow,327.0
49,1/25/2016,34.0,18.0,54.0,30.25,10.0,3.0,0,2.0,0,286.0
51,1/26/2016,43.0,29.0,56.0,30.03,10.0,7.0,0,2.0,0,244.0
55,1/28/2016,37.0,20.0,51.0,29.90,10.0,5.0,0,1.0,0,234.0
61,1/31/2016,46.0,28.0,52.0,29.90,10.0,5.0,0,0.0,0,241.0

In [ ]:
# How to iterate in a Data Frame

In [42]:
for index,i in df.iterrows():
    print(index,i['Temperature'],i['Events'])

0 0.0 0
1 38.0 0
2 0.0 0
3 36.0 0
4 0.0 0
5 40.0 0
6 0.0 0
7 25.0 0
8 0.0 0
9 20.0 0
10 0.0 0
11 33.0 0
12 0.0 0
13 39.0 0
14 0.0 0
15 39.0 0
16 0.0 0
17 44.0 Rain
18 0.0 0
19 50.0 Rain
20 0.0 0
21 33.0 0
22 0.0 0
23 35.0 0
24 0.0 0
25 26.0 0
26 0.0 0
27 30.0 0
28 0.0 0
29 43.0 0
30 0.0 0
31 47.0 Rain
32 0.0 0
33 36.0 Fog-Snow
34 0.0 0
35 25.0 Snow
36 0.0 0
37 22.0 0
38 0.0 0
39 32.0 0
40 0.0 0
41 31.0 0
42 0.0 0
43 26.0 Snow
44 0.0 0
45 26.0 Fog-Snow
46 0.0 0
47 28.0 Snow
48 0.0 0
49 34.0 0
50 0.0 0
51 43.0 0
52 0.0 0
53 41.0 Rain
54 0.0 0
55 37.0 0
56 0.0 0
57 36.0 0
58 0.0 0
59 34.0 0
60 0.0 0
61 46.0 0

In [43]:
# To write into a csv file
# df.to_csv('file name')